* {
  box-sizing: border-box;
}
body {
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
}

h1, header a {text-transform: uppercase;
letter-spacing: 5px;
font-weight: 200;
text-decoration: none;
color: white;
font-family: 'Raleway', sans-serif;
}

header a:hover{
	border-bottom: 1px solid white;
}

header {
	text-align: center;
	background-color: black;
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 30px;

}
header{
	text-align: center;
	background-color: black;
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 0px;
	margin-bottom: 15px;
}

ul {padding: 0px;
}


.container {
	margin: 0 auto;
	width: 1000px;
}

.recipes {
	width: 60%;
	float: left;
}

article {

	width: 48%;
	float: left;
	padding-right: 5px;
}

article img {

	max-width: 100%;
}

.sidebar {
	width: 40%;
	float: right;
	background-color: orange;
	padding: 20px;
	background-image: url(..images/sidebar-bg.png);
}

footer{
	clear: both;
	background:black;
	color:white;
	text-align: center;
	padding:25px;
}

footer li, header li {
	display: inline;
	margin: 10px;
}

@media (max-width: 1000px) {
	.sidebar {
		display: none;
	}
	.recipes, .container{
		width: 100%;
	}
}

@media (max-width: 900px) {
	.container {padding:0 20px;
	}

	article {
		width: 100%;
		padding: 0;
	}

}

article img {
	width: 100%;
}

